div.profile_image {
  width: 25%;
  display: inline-block;
}
div.description {
  width: 75%;
  float: right;
}
img {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(150, 150, 150);
}
label#choose_file {
  display: block;
  width: 180px;
  border: solid;
  border-width: 1px;
  border-color: rgb(150, 150, 150);
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: #eeeeee;
  font-weight: 550;
  font-size: 15px;
  background-color: rgb(0, 0, 0);
  padding: 7px;
}
input[type="file"] {
	display: none;
}
input#change {
  display: block;
  width: 150px;
  height: 30px;
  border: solid;
  border-width: 1px;
  border-color: rgb(150, 150, 150);
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: #eeeeee;
  font-weight: 550;
  font-size: 15px;
  background-color: rgb(0, 0, 0);
  padding: 15px
  margin: 0 auto;
  margin-top: 10px;
}
