a.menu {
  font-weight: 900;
  display: inline-block;
  color: white;
  line-height: 59px;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  transition: 0.2s;
  background: rgb(0, 0, 0);
}
a.user_menu {
  font-weight: 900;
  display: inline-block;
  color: white;
  line-height: 33px;
  text-decoration: none;
  user-select: none;
  padding-left: 5px;
  padding-right: 5px;
  margin: 4px;
  margin-left: 0px;a
  transition: 0.2s;
  background: rgb(20, 0, 150);
  border-style: solid;
  border-color: rgb(25, 25, 255);
  border-width: 2px;
} 
a.user_menu:hover {
  background: rgba(20, 0, 150, 0.6);
  color: rgba(255, 255, 255, 0.6);
}
a.user_menu:active {
  background: rgba(20, 0, 150, 0.3);
  color: rgba(255, 255, 255, 0.3);
}
a:hover { 
  background: rgba(0, 0, 0,.5); 
}
a:active { 
  background: white; 
}
a.login {
  display: inline-block;
  line-height: 59px;
  float: right;
  color: white;
  font-weight: 900;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  transition: 0.2s;
  background: rgb(0, 0, 0);
  margin-right: 300px;
}
a.login:hover { 
  background: rgba(0, 0, 0,.5); 
}
a.login:active { 
  background: white; 
}
a.create_blog {
  margin-top: 10px;
  padding: 5px;
  padding-left: 12px;
  display: block;
  color: white;
  background-color: black;
  line-height: 30px;
  width: 150px;
  text-decoration: none;
  font-weight: 900;
}
a.create_blog:hover {
  background: rgba(0, 0, 0, 0.3);
}
a.create_blog:active {
  background: rgb(150, 150, 150);
}
a.blogs {
  color: rgb(0, 50, 225);
  text-decoration: none;
}
a.blogs:hover {
  text-decoration: underline;
  background: none;
}
p.end {
  color: rgb(225, 225, 225);
  margin-left: 10px;
}
ul {
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
}
nav {
  display: block;
  width: 100%;
  height: 100%;
}
li {
  display: inline;
  margin-right: -2px;
}
header {
  display: block;
  height: 86px;
  background-color: rgb(50, 50, 50);
}
footer {
  display: block;
  height: 75px;
  background-color: rgb(50, 50, 50);
}
div.main {
  background-color: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
  display: block;
}
div.container {
  width: 100%;
  max-width: 1920px;
  padding: 15px;
  padding-top: 5px;
  margin: 0 auto;
}
div.login_template {
  width: 20%;
  max-width: 1920px;
  margin: auto;
  margin-left: 40%;
  text-align: left;
}
div.comment {
  width: 30%;
  margin-top: 10px;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  padding: 10px;
}
div.profile_image {
  width: 25%;
  display: inline-block;
}
div.description {
  width: 75%;
  float: right;
}
div.post {
  width: 80%;
  height: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 10, 15);
  background-color: rgb(0, 20, 30);
  margin: 15px;
  padding: 10px;
}
div.post_title_body {
  display: inline-block;
  width: 60%;
}
div.post_tags_creation {
  position: relative;
  float: right;
  width: 30%;
}
div.post_creation {
  position: absolute;
  top: 80px;
}
body.background {
  background-color: rgb(50, 50, 50);
}
form.search {
  display: inline-block;
  line-height: 59px;
  color: white;
  font-weight: 900;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  transition: 0.2s;
  background: rgb(0, 0, 0);
}
textarea.comment {
  width:50%;
  height:250px;
  padding:12px 20px;
  resize:none
}
label#choose_file {
  display: block;
  width: 180px;
  border: solid;
  border-width: 1px;
  border-color: rgb(150, 150, 150);
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: #eeeeee;
  font-weight: 550;
  font-size: 15px;
  background-color: rgb(0, 0, 0);
  padding: 7px;
}
input[type="file"] {
  display: none;
}
input#change {
  display: block;
  width: 150px;
  height: 30px;
  border: solid;
  border-width: 1px;
  border-color: rgb(150, 150, 150);
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: #eeeeee;
  font-weight: 550;
  font-size: 15px;
  background-color: rgb(0, 0, 0);
  padding: 15px
  margin: 0 auto;
  margin-top: 10px;
}
img.profile_image {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(150, 150, 150);
}
