<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body class="background">
    <header>
        <div class="container">
            <nav>
            <ul>
                <li><a href="/" class="menu">Home Page</a></li>
                <li><a href="/blogs" class="menu">Blogs</a></li>
                <li>
                    <form class="search" method="GET">
                        <input name="search" type="search" placeholder="Search"
                               value="{{ request.args.get('search', '') }}">
                        <button>Search Blog</button>
                    </form>
                </li>
                {% if current_user.has_role('admin') %}
                    <li><a href="/admin" class="menu">Admin</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li><a href="/logout" class="login">Log Out</a></li>
                    <li><a href="/users/{{ current_user.slug }}"
                           class="login"
                           style="margin-right:3px">Profile</a></li>
                {% else %}
                    <li><a href="/login" class="login">Log In</a></li>
                {% endif %}
            </ul>
            </nav>
        </div>
    </header>
    <div class="main">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer>
        <div class="container">
            <hr>
            <p class="end">All copyrights reserved</p>
        </div>
    </footer>
</body>
</html>