{% extends 'base.html' %}

{% block title %}

    Блоги

{% endblock %}


{% block content %}

<html>
    <body>
        <h1>Блоги</h1>
        <table border="1" cellpadding="10">
            <tr>
                <th>Название</th>
                <th>Теги</th>
                <th>Дата публикации</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td><a href={{"blogs/" + post.slug}} class="blogs">
                        {{ post.title }}
                    </a></td>
                    <td>
                        {% for tag in post.tags[:-1] %}
                            {{ tag.name }},
                        {% endfor %}
                        {{ post.tags[-1].name }}
                    </td>
                    <td>{{ post.created }}</td>
                </tr>
            {% endfor %}
        </table>
    <a href="/create_blog" class="create_blog">Создать свой блог</a>
    </body>
</html>

{% endblock %}
