{% extends 'base.html' %}

{% block title %}

    Blogs

{% endblock %}


{% block content %}

<html>
    <body>
        <h1>Blogs</h1>

        <table border="1" cellpadding="10">
            <tr>
                <th>Name</th>
                <th>Tags</th>
                <th>Date of creation</th>
            </tr>
            {% for post in pages.items %}
                <tr>
                    <td><a href={{"blogs/" + post.slug}} class="blogs">
                        {{ post.title }}
                    </a></td>
                    <td>
                        {% for tag in post.tags %}
                            {{ tag.name }}
                        {% endfor %}
                    </td>
                    <td>{{ post.created }}</td>
                </tr>
            {% endfor %}
        </table>

        <nav>
            <ul>
                <li>
                    {% if pages.has_prev %}
                        <a href="?page={{ pages.prev_num }}">Previous</a>
                    {% else %}
                        Previous
                    {% endif %}
                </li>

                {% for page in pages.iter_pages() %}

                    <li>
                        {% if pages.page != page %}
                        <a href="?page={{ page }}">{{ page }}</a>
                        {% else %}
                        {{ page }}
                        {% endif %}
                    </li>

                {% endfor %}

                <li>
                    {% if pages.has_next %}
                        <a href="?page={{ pages.next_num }}">Next</a>
                    {% else %}
                        Next
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% if current_user.has_role('admin') %}
        <a href="/create_blog" class="create_blog">Create_blog</a>
        {% endif %}
    </body>
</html>

{% endblock %}
