{% extends 'base.html' %}

{% block title %}

    Блоги

{% endblock %}


{% block content %}

<html>
    <body>
        <h1>Блоги</h1>
        <table border="1" cellpadding="10" bgcolor="#CCCCCC">
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Дата публикации</th>
            </tr>
            <tr>
                <td>Html code</td>
                <td>Изучаем html</td>
                <td>26.05.2021</td>
            </tr>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.created }}</td>
                </tr>
            {% endfor %}
        </table>
    <a href="/create_blog">Создать свой блог</a>
    </body>
</html>

{% endblock %}
