<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" charset="utf-8">
        <title>Главная страница</title>
    </head>
    <body>
        <h1>Главная страница</h1>
        <p><a href="/login">Войти</a>
        <a href="/blogs">Блоги</a></p>
        <h2>О сайте</h2>
        <p>Это мой первый сайт. Я впервые применяю html и Flask. Пока что
        html гораздо больше изучил, чем flask. Странно</p>
        <h2>Контакты</h2>
        <p>Номер телефона: 99999999999<br>
        email: ktoiatakoy@mail.ru</p>
    </body>
</html>