{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <h1>{{ user.name }}</h1>
    <div class="profile_image">
        <img class="profile_image" src="{{ url_for('static',
        filename='profile_images/' + user.profile_image) }}"
             alt="profile_image"
             width="180"
             height="180">
        <br>
        {% if current_user.slug == user.slug %}
        <h3>Change profile image</h3>
        <form enctype="multipart/form-data" method="POST">
            <label id="choose_file">
                <input type="file" name="file">
                Upload Image
            </label>
            <input type="submit" value="Change" id="change">
        </form>
        {% endif %}
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    </div>
    <div class="description">
        <p>
            Roles:
        {% for role in user.roles %}
            {{ role.name + ' ' }}
        {% endfor %}
        </p>
    </div>
{% endblock %}
